tensorflow==2.20.0
tf_keras==2.20.1
ktrain==0.41.4
scikit-learn==1.6.1
numpy==1.26.4
pandas==2.3.1
scipy==1.13.1
matplotlib==3.9.4
joblib==1.5.3
h5py==3.14.0
tqdm==4.67.3
jieba==0.42.1
langdetect==1.0.9
regex==2026.1.15
transformers==4.57.6
sentencepiece==0.2.1
tokenizers==0.22.2
seaborn==0.13.2